body {
    margin: 30px auto;
    width: 500px;
    background: #222;
}

input, button {
    color: #999;
    padding: 8px;
    background: #444;
    margin-right: 10px;
    border: 2px solid transparent;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

button:active {
    border: 2px solid #666;
}